.heading-font {
	font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 200;
	letter-spacing: 1px;
}
.body-font {
	font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
.alt-font {
	font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
	text-transform: uppercase;
	letter-spacing: 2px;
}
html,
body {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
a {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
	color: #006699;
}
a:hover,
a:focus {
	color: #fcbd20;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 200;
	letter-spacing: 1px;
}
p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

/* BETA NOTICE MODAL */

/* NAVBAR */

.navbar-default {
	background-color: white;
	border-color: rgba(34, 34, 34, 0.05);
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
	font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 200;
	letter-spacing: 1px;
}
.navbar-default .navbar-header .navbar-brand {
	font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 200;
	letter-spacing: 1px;
	color: #006699;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
	color: #fcbd20;
}
.navbar-default .navbar-header .navbar-toggle {
	font-size: 12px;
	color: #222222;
	padding: 8px 10px;
}
.navbar-default .nav > li > a {
	font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
	color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
	color: #006699;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
	color: #006699 !important;
	background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
	background-color: transparent;
}
@media (min-width: 768px) {
	.navbar-default {
		background-color: transparent;
		border-color: transparent;
	}
	.navbar-default .navbar-header .navbar-brand {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .navbar-header .navbar-brand:hover,
	.navbar-default .navbar-header .navbar-brand:focus {
		color: white;
	}
	.navbar-default .nav > li > a,
	.navbar-default .nav > li > a:focus {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .nav > li > a:hover,
	.navbar-default .nav > li > a:focus:hover {
		color: white;
	}
	.navbar-default.affix {
		background-color: white;
		border-color: rgba(34, 34, 34, 0.1);
	}
	.navbar-default.affix .navbar-header .navbar-brand {
		color: #222222;
	}
	.navbar-default.affix .navbar-header .navbar-brand:hover,
	.navbar-default.affix .navbar-header .navbar-brand:focus {
		color: #006699;
	}
	.navbar-default.affix .nav > li > a,
	.navbar-default.affix .nav > li > a:focus {
		color: #222222;
	}
	.navbar-default.affix .nav > li > a:hover,
	.navbar-default.affix .nav > li > a:focus:hover {
		color: #006699;
	}
}

/* HEADER */

header {
	position: relative;
	width: 100%;
	min-height: auto;
	overflow-y: hidden;

	background: #005580; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(#005580, #002233); /* Safari 5.1-6.0 */
	background: -o-radial-gradient(#005580, #002233); /* For Opera 11.6-12.0 */
	background: -moz-radial-gradient(#005580, #002233); /* For Firefox 3.6-15 */
	background: radial-gradient(#005580, #002233); /* Standard syntax */

	color: white;
}
header .header-content {
	text-align: center;
	position: relative;
}
header .header-content .header-content-inner {
	position: relative;
	padding: 150px 0 50px;
	max-width: 500px;
	margin: 0 auto;
}
header .header-content .header-content-inner h1 {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 50px;
}
header .header-content .image-container {
	position: relative;
	padding-bottom: 30px;
	max-width: 500px;
	margin: 0 auto;
}
@media (min-width: 768px) {
	header {
		min-height: 100%;
	}
	header .header-content {
		text-align: left;
		padding: 0;
		height: 100vh;
	}
	header .header-content .header-content-inner {
		max-width: none;
		margin: 0;
		padding: 0 20px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	header .header-content .image-container {
		max-width: none;
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	header .header-content .header-content-inner h1 {
		font-size: 35px;
	}
}
@media (min-width: 992px) {
	header .header-content .header-content-inner h1 {
		font-size: 50px;
	}
}

/* SECTION */

section {
	padding: 100px 0;
}
section h2 {
	font-size: 50px;
	margin-top: 0;
}
section hr {
	max-width: 100px;
	margin: 25px auto 0;
	border-width: 1px;
	border-color: rgba(34, 34, 34, 0.1);
}
section hr.light {
	border-color: white;
}

section.dark-section {
	background: #005580;
	color: white;
}
section.light-section {
	background: white;
	color: black;
}

section.download .section-heading {
	margin-bottom: 100px;
}
section.download .section-heading h2 {
	margin-top: 0;
}
section.download .section-heading p {
	margin-bottom: 0;
}

section.download .download-heading {
	margin-bottom: 20px;
}

section.download .device-container,
section.download .download-item {
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
}
section.download .device-container {
	margin-bottom: 100px;
}
@media (min-width: 992px) {
	section.download .device-container {
		margin-bottom: 0;
	}
}
@media (min-width: 992px) {
	section.download .download-screen {
		border-right: 1px solid rgba(34, 34, 34, 0.1);
	}
}
section.download a:hover,
section.download a:active,
section.download a:focus {
	text-decoration: none;
}
section.download .download-item {
	margin-bottom: 50px;
}
section.download .download-item h3 {
	font-size: 30px;
}
section.download .download-item i {
	font-size: 80px;
	background: #005580;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@media (min-width: 992px) {
	section.download .device-container,
	section.download .download-item {
		max-width: none;
	}
}

.about {
	padding: 0px 50px;
}

.contribute {
	padding: 0px 50px;
	margin-top: 50px;
}

@media (min-width: 992px) {
	.border-right {
		border-right: 1px solid rgba(34, 34, 34, 0.1);
	}
	.contribute {
		margin-top: 0px;
	}
}

/* FOOTER */

footer {
	background-color: #222222;
	padding: 25px 0;
	color: rgba(255, 255, 255, 0.4);
	text-align: center;
}
footer p {
	font-size: 12px;
	margin: 0;
}

footer ul {
	margin-top: 5px;
	margin-bottom: 0;
}
footer ul li a {
	color: white
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
	text-decoration: none;
}

/* OTHER */

.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}
.btn {
	font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
	text-transform: uppercase;
	/* letter-spacing: 2px;
	border-radius: 300px; */
}
.btn-xl {
	padding: 10px 30px;
	font-size: 11px;
	margin: 10px;
}
::-moz-selection {
	color: white;
	text-shadow: none;
	background: #222222;
}
::selection {
	color: white;
	text-shadow: none;
	background: #222222;
}
img::selection {
	color: white;
	background: transparent;
}
img::-moz-selection {
	color: white;
	background: transparent;
}
body {
	webkit-tap-highlight-color: #222222;
}
